<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c043aebc-f133-4b51-a2b6-30fd47e3103c/resourceGroups/MyGroup/providers/Microsoft.Web/sites/membertest2022</ResourceId>
    <ResourceGroup>MyGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://membertest2022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>membertest2022.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>membertest2022</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$membertest2022</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MemberDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:membertest.database.windows.net,1433;Initial Catalog=;User ID=;Password=" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=membertest.database.windows.net,1433;Initial Catalog=MemberTestAzure;Integrated Security=False;Persist Security Info=False;User ID=mydatabase;Password=Test123456789" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MemberDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Persist Security Info=False;Integrated Security=false;Server=membertest.database.windows.net,1433;Initial Catalog=MemberTestAzure;User ID=mydatabase;Password=Test123456789;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MemberDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:membertest.database.windows.net,1433;Initial Catalog=MemberTestAzure;User ID=mydatabase@membertest;Password=Test123456789</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>